aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
colorama
idna
multidict
oauthlib
PySocks
requests
requests-oauthlib
six
soupsieve
tweepy
typing-extensions
urllib3
yarl
python-twitter
future
PyGithub
twitchAPI
